/* Основные цвета */
:root {
    --background-footer: #2F303A;
    --background-header: #FFFFFF;
    --background-main: #FFFFFF;
    --background-secondmain: #F5F4FA;
    --color-h: #212121;
    --color-text: #757575;
}

/* Цвета проекта
    #2F303A;
    #FFFFFF;
    #E5E5E5;
    #F5F4FA;
    #212121;
    #757575;
    #2196F3;
    rgba(255, 255, 255, 0.6);
*/

ul {
    list-style: none;
    margin: 0px;
}

body {
    font-family: Roboto, Railway, sans-serif;
    color: var(--color-text);
    background-color: var(--background-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/* Хэдэр */
header {
    background-color: var(--background-header);
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #2196F3;
}

.logo-header {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #212121;
}

.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #FFFFFF
}

.nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
    ;
}

.nav:hover,
.nav:focus {
    color: #2196F3;
}

.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--color-text)
}

.contacts:hover,
.contacts:focus {
    color: #2196F3;
}

.header-container {}

.container {
    width: 1170px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-nav {
    display: flex;
    align-items: center;
}


.site-nav {
    display: flex;
}

.site-nav .item {
    margin-right: 50px;
}

.site-nav .item:first-child {
    margin-left: 93px;
}

.contacts-nav {
    display: flex;
}

.contacts-nav .item {
    margin-left: 50px;
}



/* Footer */

.footer-div {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--background-main);
}

.mail-tel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.mail-tel:hover,
.mail-tel:focus {
    color: #2196F3;
}

footer {
    background-color: var(--background-footer);
}

/* Main */
.hero {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    color: var(--background-main);
    text-transform: uppercase;
}

.hero-section {
    background-color: var(--background-footer);
    width: 1170px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;
    border: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    background-color: #2196F3;
    color: #FFFFFF;
    cursor: pointer;
}

/* Main-info */

.main-container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 15px;
    padding-right: 15px;
}

.main-info-list {
    padding: 0;
    margin-left: 0;


    display: flex;
}

.main-info-list>.main-info-item {
    margin-left: 30px;
}

.main-info {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--color-h);
    text-transform: uppercase;
}

.description {
    font-size: 14px;
    line-height: 1.71;
    color: var(--color-text);
}

/* Чем занимаемся */

.examples-list {
    display: flex;
}

.examples-list .examples-item {}

.about-us-container {
    background-color: yellow;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.about-us {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--color-h);
}

/* Team */

.team-div {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.person-list {
    margin: 0;
    padding: 0;

    display: flex;
    margin-left: -30px;
}

.person-list .person-item {
    flex-basis: calc(100% / 4 -30px);

    margin-left: 30px;
    margin-top: 50px;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.card-content {
    padding: 30px 59px;
}

.team-workers {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--color-h)
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--color-h);
    text-align: center;
}

.position {
    font-size: 16px;
    line-height: 1.2;
    color: var(--color-text);
    text-align: center;
}

/* Portfolio html */
.for-me {
    display: none;
}

.buttons {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--color-h);
    cursor: pointer;
}

.buttons:hover,
.buttons:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--color-h);
}

.project-type {
    font-size: 16px;
    line-height: 1.9;
    color: var(--color-text);
}

.team {
    background-color: var(--background-secondmain);
}